<h1>Convert <%= @from_symbol %> to <% @to_currency %> </h1>

<p> 1 <%= @from_symbol %> equals <%= @exchange_rate %> <%= @to_currency %> </p>
<p>
  Go <a href="/forex/<%= @from_symbol %>">back</a>
</p>
